* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-1 {
  background-color: #0A1119;
}
.container {
  width: 350px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: #3B82F6;
  font-size: x-large;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.logo a:hover {
  color: #B6CC37;
}
.link {
  width: 35px;
}
.image {
  margin-top: 30px;
  width: 350px;
}
.apr {
  text-align: center;
}
.apresentacao {
  font-size: 28px;
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.nome {
  font-size: 44px;
  color: #3B82F6;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.cargo {
  font-size: 30px;
  color: #B6CC37;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: -10px;
}
.botoes {
  margin-top: 10px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.botao1 {
  background-color: #CC4337;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  border: none;
}
.botao2 {
  background-color: #377DCC;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  border: none;
}
.botao1:hover {
    background-color: #B6CC37;
    color: #CC4337;
}
.botao2:hover {
  background-color: #B6CC37;
  color: #377DCC;
}
.bg-2 {
  background-color: #0D1B2B;
  text-align: center;
  padding-top: 50px;
}
.t1 {
  font-size: 40px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #B6CC37;
  margin-bottom: 20px;
}
.p1 {
  font-size: 18px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #fff;
  padding-bottom: 50px;
}
.projetos {
  width: 1000px;
  height: 1000px;
}